@import "tailwindcss";

@theme {
  /*fonts*/

  --font-karla: "Karla", serif;
  --font-DM: "DM Serif Display", serif;

  /*colors*/

  --color-dark-violet: hsl(256, 26%, 20%);
  --color-Grayish-Blue: hsl(216, 30%, 68%);

  --color-Very-Dark-Violet: hsl(270, 9%, 17%);
  --color-Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-footer-gray: rgb(250, 250, 250);

  /*layout*/

  --breakpoint-2xl: 90rem;

  /* ANIMATION */

  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-from-left: fromLeft 0.5s ease-in-out;
  --animate-from-right: fromRight 0.8s ease-in-out;
  --animate-bounce: bounce 0.5s ease-in-out;
  --animate-basic-fade-in: basicFadeIn 0.8s ease-in-out;
  --animate-fade-out: fadeOut 0.5s linear;
  --animate-wobble: wobble-hor-bottom 2.5s ease-in-out infinite;

  @keyframes basicFadeIn {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      scale: 0.7;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes fromLeft {
    from {
      scale: 0.7;
      transform: translateX(-100%);
    }
    to {
      scale: 1;
      transform: translateX(0);
    }
  }

  @keyframes fromRight {
    from {
      scale: 0.7;
      transform: translateX(+100%);
    }
    to {
      scale: 1;
      transform: translateX(0);
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  @keyframes wobble-hor-bottom {
    0%,
    100% {
      transform: translateX(0%);
    }
    15% {
      transform: translateX(-5px) rotate(-3deg);
    }
    30% {
      transform: translateX(5px) rotate(3deg);
    }
    45% {
      transform: translateX(-10px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(0px);
    }
  }
}

/*CUSTOM CLASSES FOR ELEMENTS */

.button {
  @apply cursor-pointer py-2 px-6 text-Very-Light-Gray bg-dark-violet font-bold uppercase
  text-sm font-karla border border-Very-Light-Gray
  hover:bg-Very-Light-Gray hover:text-Very-Dark-Violet
  transition;
}

.nav-links {
  @apply py-2 px-2 hover:bg-Very-Dark-Violet hover:text-Very-Light-Gray
  focus:outline-2 focus:bg-Very-Light-Gray
  focus:text-Very-Dark-Violet active:outline-Very-Dark-Violet transition uppercase;
}

.nav-links-mobile {
  @apply py-2 px-2 hover:text-Very-Dark-Violet hover:bg-Very-Light-Gray
  focus:outline-2 focus:bg-Very-Light-Gray
  focus:text-Very-Dark-Violet active:outline-Very-Dark-Violet transition uppercase;
}

ul li > a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
}

html {
  scroll-behavior: smooth;
}

/* ANIMATION CLASSES */

.animation {
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-timeline: view();
  animation-range-start: 20px;
  animation-range-end: 500px;
}

.animation-left-arrive {
  animation: fromLeft 1s forwards;
  animation-timeline: view();
  animation-timing-function: cubic-bezier(0.016, 0.794, 0.34, 1);
  animation-range-start: 15px;
  animation-range-end: 450px;
}

.animation-fade-out {
  animation: fadeOut linear;
  animation-timeline: view();
  animation-range: exit 200px;
}
