@import "tailwindcss";

@theme {

  /*colors*/
  --font-karla: "Karla", serif;
  --color-dark-violet: hsl(256, 26%, 20%);
  --color-Grayish-Blue: hsl(216, 30%, 68%);



  --color-Very-Dark-Violet: hsl(270, 9%, 17%);
  --color-Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);


  /*layout*/

  --breakpoint-2xl: 90rem;


}
