@import "tailwindcss";

@theme {
  --font-karla: "Karla", serif;
  --font-DM: "DM Serif Display", serif;

  /*colors*/

  --color-dark-violet: hsl(256, 26%, 20%);
  --color-Grayish-Blue: hsl(216, 30%, 68%);

  --color-Very-Dark-Violet: hsl(270, 9%, 17%);
  --color-Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);

  /*layout*/

  --breakpoint-2xl: 90rem;
}


/*CUSTOM CLASSES FOR ELEMENTS */

.button {
  @apply cursor-pointer py-2 px-6 text-Very-Light-Gray bg-dark-violet font-bold uppercase
  text-sm font-karla border border-Very-Light-Gray
  hover:bg-Very-Light-Gray hover:text-Very-Dark-Violet
  transition;
}

.nav-links {
  @apply py-2 px-2 hover:bg-Very-Dark-Violet hover:text-Very-Light-Gray
  focus:outline-2 focus:bg-Very-Light-Gray
  focus:text-Very-Dark-Violet active:outline-Very-Dark-Violet transition;
}

